.table-container
{
    margin: auto;
}

:host{
    display: flex;
}

.table {
    height: 100%;
    width: 100%;
    padding: 5%;

    box-sizing: border-box;
}

.row { 
    height: 100px;
    width: 800;
}

.square { 
    width: 100px;
    height: 100px;
    display: inline-block;

    background-color: grey;
    border: 1px solid black;
    box-sizing: border-box;
}

#table-canvas
{
    margin: auto;
    width: 1000px;
    height: 1000px;
}

.next-move-btn
{
    float: right;
}

.prev-move-btn
{
    float: left;
}
