<div matDialogTitle class="title-area">Sing up</div>

<mat-dialog-content class="form-container">
    <div class="log-input">
        <mat-form-field>
            <mat-label> Email </mat-label>
            <input [(ngModel)]="email"] matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label> Username </mat-label>
            <input [(ngModel)]="username" matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label> Password </mat-label>
            <input [(ngModel)]="password" matInput/>
        </mat-form-field>
    </div>
    <div class="button-container">
        <button mat-raised-button (click)="onSignup()">Register</button>
        <button mat-raised-button (click)="this.dialogRef.close()">Cancel</button>
    </div>
</mat-dialog-content>
